body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  padding: 10px;
}

.border {
  margin: 10px;
  padding: 10px;
  border: solid 1px red;
}

/* div.border span.name font-size:20 */
/* @blue: #007bff;
.border {
  .name {
    font-size: 20px;
    color: @blue;
  }

  .circle {
    color: @blue;
    @size: 200px;
    width: @size;
    height: @size;
    border-radius: 100%;
  }
} */

.red {
  color: red;
}

.green {
  color: green;
}

.pink {
  color: pink;
}

a {
  display: inline-block;
  margin: 10px;
}

.active {
  color: red;
}
